/*
Since stylus has a parsing bug (or feature) that disallows the underscore hack,
the star hack has been used instead, to the detriment of ie7.
*/
/* --- Common Definitions ---*/
/*--- Calipso style sheet ---*/
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #444;
  min-height: 100%;
  background: #1a1a1a url("/images/simple_bg.gif") repeat;
}
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  line-height: 1.3em;
  color: #fff;
  background: #1a1a1a url("/images/simple_bg.gif") repeat;
}
/*--- Structural Elements ---*/
#header {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#header h1 {
  background: url("/images/calipso.gif") no-repeat;
  background-position-y: 10px;
  font-size: 57px !important;
  font-weight: 400;
  text-shadow: 2px 2px 2px #000;
  letter-spacing: 0.1em;
  word-spacing: 0em;
  color: #dd9 !important;
  line-height: 1.2;
  padding-left: 70px;
}
#container {
  position: relative;
  padding: 0 10% 10px;
  top: 37px;
}
#body {
  float: left;
  *display: inline;
  width: 80%;
}
#right {
  float: right;
  width: 17%;
  *display: inline;
}
#right div {
  margin-bottom: 25px;
}
/*--- Headers ---*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  margin: 0.5em 0;
}
h1 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  color: #dd9;
}
h2,
h5 {
  font-size: 1.3em;
  color: #dd9;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 0.05em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  color: #dda;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
a {
  text-decoration: none;
  color: #dd9;
}
a:visited {
  color: #eec;
}
a:hover {
  color: #ff0;
}
a img {
  border: none;
}
h1 a {
  color: #eed !important;
}
h2 a {
  color: #dd9 !important;
}
/*--- Lists ---*/
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0 0 1em 2.75em;
}
/*--- Tables ---*/
table {
  clear: both;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #161606;
  background: #eaeafa;
  margin: 12px 0;
  font-size: 0.9em;
  margin-bottom: 12px;
  -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px 4px 12px rgba(0,0,0,0.35);
  box-shadow: 4px 4px 12px rgba(0,0,0,0.35);
}
td {
  padding: 0.25em 1em;
  vertical-align: middle;
  text-align: left;
  border: 1px solid #161606;
  font-weight: normal;
  color: #fff;
  background: #333;
}
.module-description {
  background: #222;
  font-size: 0.9em;
}
th {
  border: 1px solid #161606;
  background: #a3a383;
  color: #333;
  text-align: left;
  font-weight: bold;
  padding: 0.5em 0.75em;
}
/*--- Misc ---*/
hr {
  border: none;
  height: 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 1em 0;
}
/*--- Pager ---*/
.pager {
  clear: both;
  display: block;
}
span.pager-page {
  padding: 3px;
  margin: 3px;
  color: #f5f5d5;
  line-height: 1.25em;
}
input.pager-page {
  display: inline !important;
  width: 30px;
  padding: 2px;
  margin: 3px;
  color: #f5f5d5;
  line-height: 1.25em;
  clear: none;
}
a.pager-page {
  padding: 3px;
  margin: 3px;
  border: 1px solid #a6a6c6;
  color: #d5d5d5;
  line-height: 1.25em;
}
pre {
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 98%;
  padding: 1%;
  margin-bottom: 10px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
pre a .pln {
  text-decoration: underline;
  color: #59f !important;
  font-weight: bold;
}
pre a .str {
  text-decoration: underline;
  color: #59f !important;
  font-weight: bold;
}
pre a:visited .pln {
  color: #59f !important;
}
pre a:visited .str {
  color: #59f !important;
}
pre a:hover .pln {
  color: #ff0 !important;
}
pre a:hover .str {
  color: #59f !important;
}
pre .tag {
  float: none !important;
}
div.dox-comment {
  background: #222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 98%;
  padding: 1%;
  width: 98%;
  border: solid 1px #fff;
  position: relative;
  top: 1px;
  z-index: 3;
  margin-bottom: 0px;
}
div.no-dox-comment {
  color: #f44;
}
.calloutDown {
  height: 0;
  width: 0;
  border-top: 12px solid #fff;
  border-left: 12px dotted transparent;
  border-right: 12px dotted transparent;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-left: 20px;
  z-index: 11;
}
.calloutDown2 {
  position: relative;
  left: -10px;
  top: -12px;
  height: 0;
  width: 0;
  border-top: 10px solid #222;
  border-left: 10px dotted transparent;
  border-right: 10px dotted transparent;
  z-index: 10;
}
.primary-menu {
  color: #fff;
  position: relative;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -5px;
}
.primary-menu .primary-menu-item-selected {
  font-weight: bold;
}
.user-logout {
  position: relative;
  margin-right: 10;
  font-size: 0.9em;
  z-index: 20;
  float: right;
  *display: inline;
}
.user-logout a {
  color: #fff;
}
.menu-separator {
  clear: both;
}
/** - Content -- **/
.content-list-item {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.content-list-item-draft {
  border-left: solid 2px #ffa500;
}
.content-list-item h1 {
  margin-top: 5px;
}
.content-item .by {
  font-size: 0.8em;
  float: left;
  margin-right: 50px;
  *display: inline;
}
.content-item .status {
  font-size: 0.8em;
  float: left;
  margin-right: 50px;
  *display: inline;
}
.content-item .tags {
  font-size: 0.8em;
  float: left;
  width: 100%;
}
.content-item .created {
  font-size: 0.8em;
  float: left;
  margin-right: 50px;
  *display: inline;
}
.content-item .content {
  clear: both;
}
.blog-list-item {
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 5px;
  -moz-box-shadow: 5px;
  box-shadow: 5px;
  width: 30%;
  float: left;
  padding: 10px;
  min-height: 210px;
  max-height: 210px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: auto;
}
.blog-list-item .by {
  font-size: 0.8em;
  float: left;
  margin-right: 50px;
  *display: inline;
}
.blog-list-item .status {
  font-size: 0.8em;
  float: left;
  margin-right: 50px;
  *display: inline;
}
.blog-list-item .tags {
  font-size: 0.8em;
  float: left;
  width: 100%;
}
.blog-list-item .created {
  font-size: 0.8em;
  float: left;
  margin-right: 50px;
  *display: inline;
}
.blog-list-item .content {
  clear: both;
}
.github-list-item {
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 5px;
  -moz-box-shadow: 5px;
  box-shadow: 5px;
  width: 14%;
  min-height: 140px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  overflow: hidden;
}
.github-list-item img {
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.github-list-item h6 {
  margin-top: 0px;
}
.github-list-item .h1 {
  color: #ff1200;
}
.github-list-item .h2 {
  color: #ff6300;
}
.github-list-item .h3 {
  color: #ffc400;
}
.github-list-item .h4 {
  color: #a8ff57;
}
.github-list-item .h5 {
  color: #57ffa8;
}
.github-list-item .h6 {
  color: #00b4ff;
}
.github-list-item .h7 {
  color: #0073ff;
}
/** Breaking News **/
.breaking-news ul {
  margin-left: 0;
  padding-left: 0;
  font-size: 0.8em;
}
.breaking-news li {
  margin-left: 0;
  list-style: none;
}
/** Jobs **/
.job-invalid {
  background-color: #efcfcf;
}
.job-crontime {
  width: 60px !important;
  display: inline !important;
}
.job-crontime-label {
  width: 60px !important;
  display: inline !important;
}
/** Tag Cloud **/
.tagcloud {
  height: 80px;
}
.tag {
  float: left;
  padding: 1px;
  *display: inline;
}
.tag-10 {
  font-size: 1.8em;
}
.tag-9 {
  font-size: 1.7em;
}
.tag-8 {
  font-size: 1.5em;
}
.tag-7 {
  font-size: 1.4em;
}
.tag-6 {
  font-size: 1.3em;
}
.tag-5 {
  font-size: 1.1em;
}
.tag-4 {
  font-size: 1em;
}
.tag-3 {
  font-size: 0.9em;
}
.tag-2 {
  font-size: 0.8em;
}
.tag-1 {
  font-size: 0.7em;
}
/** Twitter **/
.tweet {
  padding: 5px;
  margin: 10px;
  background: #1f1f1f;
  font-size: 0.9em;
  float: left;
  width: 20%;
  height: 120px;
  *display: inline;
  overflow: hidden;
}
.tweet .tweet-image {
  position: relative;
  left: -15px;
  top: -15px;
}
.tweet .tweet-image img {
  height: 30px;
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.35);
}
.tweet .tweet-content {
  position: relative;
  top: -10px;
  margin-left: 10px;
}
/** -- Footer -- **/
#footer {
  width: 100%;
  border-top: solid 1px #c0c0c0;
  margin-top: 20px;
  font-size: 0.9em;
}
#footer li {
  margin-left: 0;
  list-style: none;
}
#footer ul {
  margin-left: 0;
  padding-left: 0;
}
#footer div.col1 {
  width: 31%;
  float: left;
  padding: 10px;
  *display: inline;
}
#footer div.col2 {
  width: 31%;
  float: left;
  padding: 10px;
  text-align: center;
  *display: inline;
}
#footer div.col3 {
  width: 31%;
  float: right;
  padding: 10px;
  text-align: right;
  *display: inline;
}
/** HOME PAGE **/
.home-content {
  font-size: 1em;
}
.home-welcome {
  display: block;
  width: 100%;
  font-size: 1.4em;
  line-height: 1.2em;
  margin-bottom: 20px;
}
.home-col1 {
  float: left;
  width: 29%;
  padding: 1%;
  margin-left: 2%;
  *margin-left: 1%;
  margin-right: 2%;
  *display: inline;
}
.home-col2 {
  float: left;
  width: 29%;
  padding: 1%;
  margin-right: 2%;
  *display: inline;
}
.home-col3 {
  float: left;
  width: 29%;
  padding: 1%;
  *display: inline;
}
.home-column {
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 260px;
  *height: 260px;
}
.home-column ul {
  margin: 0 0 0 20px !important;
  padding: 0 !important;
}
.home-column ul li {
  margin: 0 !important;
  padding: 0 !important;
}
.repo-all {
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.repo-column {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 260px;
}
.repo-column ul {
  margin: 0 0 0 20px !important;
  padding: 0 !important;
}
.repo-column ul li {
  margin: 0 !important;
  padding: 0 !important;
}
.home-spacer {
  clear: both;
  position: relative;
  top: -12px;
  background: url("/images/background-border.png") no-repeat;
  *background: url("/images/background-border-ie6-8bit.png") no-repeat;
  background-position-x: 50%;
  height: 28px;
  width: 100%;
}
/** Flash Messages **/
#messages {
  clear: both;
  width: 98%;
}
#messages ul {
  width: 98%;
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0px 20px;
  padding: 15px 10px 15px 10px;
  list-style: none;
}
#messages ul li {
  margin: 0 !important;
  padding: 0 !important;
}
ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  width: 97%;
}
ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 31px;
  line-height: 31px;
  border-left: none;
  margin-bottom: -1px;
  background: #e0e0e0;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul.tabs li a {
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  padding: 0 20px;
  outline: none;
  color: #000;
}
ul.tabs li a:hover {
  background: #ccc;
}
html ul.tabs li.active,
html ul.tabs li.active a:hover,
html ul.tabs li.active a {
  color: #fff !important;
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  border-bottom: 1px solid #2a2c2a;
}
ul.vertical-tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px;
  width: 10%;
}
ul.vertical-tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 31px;
  line-height: 31px;
  border-left: none;
  margin-bottom: -1px;
  overflow: hidden;
  background: #121212;
  position: relative;
  width: 100%;
}
ul.vertical-tabs li a {
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  padding: 0 20px;
  outline: none;
  color: #afafaf;
}
ul.vertical-tabs li a:hover {
  background: #232323;
}
html ul.vertical-tabs li.active,
html ul.vertical-tabs li.active a:hover,
html ul.vertical-tabs li.active a {
  color: #fff !important;
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  border-bottom: 1px solid #2a2c2a;
}
.vertical-tab-container {
  float: right;
  width: 90%;
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  min-height: 200px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.vertical-tab-container .vertical-tab-content {
  padding: 20px;
}
.vertical-tab-container form {
  width: 95%;
}
ul.vertical-tabs li:first-child {
  border-top-left-radius: 5px;
}
ul.vertical-tabs li:last-child {
  border-bottom-left-radius: 5px;
}
.repo-show-left {
  float: left;
  width: 30%;
}
.repo-show-right {
  float: right;
  width: 65%;
}
/** FORMS **/
form {
  width: 100%;
  zoom: 1;
}
form div.form-fields {
  margin: 0;
  padding: 0;
  list-style-type: none;
  zoom: 1;
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 95%;
  padding: 20px;
}
form div.actions {
  width: auto !important;
  position: relative;
  text-align: right;
  clear: both;
  padding: 10px 0% 10px 0%;
  margin-bottom: 0px !important;
}
form div.actions input {
  font-size: 100%;
  margin-right: 10px;
  padding: 5px;
}
div.form-field {
  margin: 0;
  padding: 5px;
  clear: both;
  background-color: transparent;
}
div.form-field label {
  padding-bottom: 5px;
  width: 100%;
  font-weight: bolder;
  display: block;
}
div.form-field div {
  margin: 0;
  padding: 0;
  color: #fff;
}
div.form-field div label {
  margin: 0;
  padding-top: 3px;
  clear: both;
  line-height: 160%;
  color: #fff;
  display: relative;
}
.markItUp {
  width: 100% !important;
}
.markItUp textarea {
  padding: 2px 0px !important;
}
#user-login div.form-item div {
  margin-bottom: 5px !important;
}
#user-login div.form-item {
  margin-bottom: 5px !important;
}
#user-login input.text,
#user-login input.password {
  width: 95% !important;
}
input.text,
input.file,
input.password,
textarea.textarea,
select.select {
  font-size: 100%;
  color: #333;
  margin: 0;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input.text,
input.file,
input.password {
  width: 75%;
}
textarea.textarea,
textarea.json {
  border-top: 1px solid #7c7c7c;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}
input.crontime {
  width: 45px !important;
  text-align: center;
  padding-right: 3px;
}
input.date,
input.time {
  width: 50px;
}
select.select {
  padding: 1px 0 0;
  background-color: #dfefef;
}
input.checkbox,
input.radio {
  display: inline-block;
  margin: 4px 0 0;
  padding: 0;
  width: 13px;
  height: 13px;
}
.description {
  padding: 2px 0 5px 160px;
  font-size: 11px;
  color: #efefef;
  max-width: 400px;
}
.button,
button {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #000 !important;
  background: -moz-linear-gradient(top, #ededed 0%, #a1a1a1);
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#a1a1a1));
  border: 1px solid #333;
/* 333 instead of black because chrome renders the corners better that way */
  -webkit-box-shadow: 0 1px 4px rgba(150,150,150,0.5);
  -moz-box-shadow: 0 1px 4px rgba(150,150,150,0.5);
  box-shadow: 0 1px 4px rgba(150,150,150,0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
}
.button:hover,
button:hover {
  border-color: #007dff;
  -webkit-box-shadow: 0 0 8px rgba(0,125,160,0.8);
  -moz-box-shadow: 0 0 8px rgba(0,125,160,0.8);
  box-shadow: 0 0 8px rgba(0,125,160,0.8);
}
a.submit,
input[type="submit"] {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #000 !important;
  background: -moz-linear-gradient(top, #ededed 0%, #a1a1a1);
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#a1a1a1));
  background: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
  background: -webkit-gradient(linear, left top, left bottom, from(#4dc0fe), to(#47a7ed));
  border: 1px solid #333;
/* 333 instead of black because chrome renders the corners better that way */
  -webkit-box-shadow: 0 1px 4px rgba(150,150,150,0.5);
  -moz-box-shadow: 0 1px 4px rgba(150,150,150,0.5);
  box-shadow: 0 1px 4px rgba(150,150,150,0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
}
a.submit:hover,
input[type="submit"]:hover {
  border-color: #007dff;
  -webkit-box-shadow: 0 0 8px rgba(0,125,160,0.8);
  -moz-box-shadow: 0 0 8px rgba(0,125,160,0.8);
  box-shadow: 0 0 8px rgba(0,125,160,0.8);
}
input.labelFirst {
  margin-left: auto;
}
form .description {
  font-size: 0.8em;
  color: 9 f9f9f;
  padding-left: 5px;
  margin-bottom: 5px;
}
form div.section h3 {
  clear: both;
  font-weight: normal;
  font-size: 110%;
  line-height: 135%;
  margin: 0 0 3px;
  width: auto;
  padding: 12px 1% 0 0;
  border-top: 1px dotted #ccc;
}
.search {
  background: #2a2c2a url("/images/simple_bg.gif") repeat;
  padding: 10px;
  padding-top: 5px !important;
  padding-right: 5px !important;
  width: 250px;
  float: right;
  display: inline;
  margin-top: -60px;
}
.search input.text {
  width: 170px !important;
  padding: 5px !important;
}
.search .actions {
  display: inline;
  border: none;
  margin: 0px;
  padding: 0px;
  float: right;
}
.search .actions input {
  margin: 0px;
  padding: 5px !important;
  margin-left: 10px !important;
  font-size: 0.9em;
}
.facets {
  width: 150px;
  height: 100%;
  float: left;
  margin-right: 30px;
}
.facets .facet ul {
  margin-left: 0;
}
.facets .facet ul li {
  list-style: none;
}
.googleicon {
  display: block;
  padding-left: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: url("../images/google.ico") center left no-repeat;
}
.twittericon {
  display: block;
  padding-left: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: url("../images/twitter.ico") center left no-repeat;
}
.facebookicon {
  display: block;
  padding-left: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: url("../images/facebook.ico") center left no-repeat;
}
